.logo {
    float: left;
}


header{
    background-image: url(/headerback.jpg);
    background-repeat: round;
    min-height: 106px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header div{
    clear:right;
}

header p{
    FONT-SIZE: 13pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FLOAT: right;
    MARGIN:0PX;
}
header .pStyle2{
FONT-WEIGHT: bold;
FONT-SIZE: 10pt;
COLOR: gainsboro;
}

header a{
    float: right;
    FONT-SIZE: 8pt;
    COLOR: #ffcc66;
    FONT-FAMILY: Verdana;
    padding: 3px 5px;
    margin: 5px 5px;
    box-sizing: border-box;
}

.navbar-nav>li {
    float: none !important;
}

nav{
    padding-top: 25px;
    background-color: #d8d8d8af;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -20px;
}

.navbar-nav {
    float:none;
}

.nav a {
    font-weight: bold;
    font-size: 11px;
    cursor: hand;
    color: black;
    font-family: "Verdana" , Arial, Helvetica;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
    vertical-align: top;
}

.nav li {
    padding-bottom: 0px;
    margin: 0px;
    display: block;
    line-height: 23px;
    height: 23px;
}

.nav>li>a {
    padding: 0px;
}

.menuRed{
    background-color: red;
}

.menuOrange{
    background-color: orange;
}

.menuYellow{
    background-color: yellow;
}