<div class="header">
    <div class="logo"></div>
    <div class="TopPane">
        <span style="FONT-SIZE: 13pt; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #000000; TEXT-ALIGN: right">
            &nbsp;Reinhard Bellessem</span><br>
        <span style="FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: gainsboro; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #000000; TEXT-ALIGN: right">
            &nbsp;Unternehmensberater für Speditions- und Transportbetriebe</span><br>
        <br>
        <a style="FONT-SIZE: 8pt; COLOR: #ffcc66; FONT-FAMILY: Verdana" href="mailto:info@bellessem.de">
            info@bellessem.de</a>&nbsp;&nbsp;<a style="FONT-SIZE: 8pt; COLOR: #ffcc66; FONT-FAMILY: Verdana" href="http://www.bellessem.dnns.de/Kontakt/tabid/118/Default.aspx">Impressum</a><br>
        <div id="dnn_TopPane" class="DNNEmptyPane"></div>
    </div>
</div>